{
    "rules": {
        "max-nested-callbacks": [2, 10],
        "no-magic-numbers": 0
    },
    "globals": {
        "assert": false,
        "config": false,
        "include": false
    },
    "env": {
        "node": true,
        "mocha": true
    }
}
