/*region Tiles generic formatting */
ul#tiles > li {
    position: relative;
    background-color: beige;
    display: inline-block;
    margin: 16px;
    padding: 4px;
    width: 128px;
    height: 128px;
    border: solid 1px gray;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px lightgray;
}

ul#tiles > li div {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
}

ul#tiles > li div.static {
  top: 0;
}

ul#tiles > li div.dynamic {
  top: 0;
}

ul#tiles > li div.title {
    top: 0;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: solid 1px gray;
}

[link] {
    cursor: pointer;
}

[link]:hover {
    text-decoration: underline;
}

ul#tiles > li div.percentage {
    font-size: 32pt;
}

ul#tiles > li#sources div.percentage {
    font-size: 24pt;
}

ul#tiles > li div.percentage:hover {
    text-decoration: unset;
}

ul#tiles > li div.ok {
    color: green;
}

ul#tiles > li div.ko {
    color: red;
}

ul#tiles > li > ul,
ul#tiles > li > div > ul {
    position: absolute;
    padding-left: 4px;
    top: 16px;
    left: 0;
    text-align: left;
}

ul#tiles > li > ul > li,
ul#tiles > li > div > ul > li {
    display: block;
    font-size: 11pt;
}

ul#tiles > li div.exec {
    position: absolute;
    top: 88px;
    left: 12px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: white 1px solid;
    box-shadow: 2px 2px gray;
    background: url(/res/hawcons/lightning.png) -8px -8px no-repeat;
}

/*endregion*/

/*region Source tile */

ul#tiles > li#sources {
    background: url(/res/hawcons/documents.png) 80px 80px no-repeat beige;
}

/*endregion*/

/*region Plato tile */

ul#tiles > li#plato {
    background: url(/res/hawcons/document-scan.png) 80px 80px no-repeat beige;
}

/*endregion*/

/*region Coverage tile */

ul#tiles > li#coverage {
    background: url(/res/hawcons/search.png) 80px 80px no-repeat beige;
}

ul#tiles > li div.coverage {
    font-size: 16pt;
    left: 4px;
}

ul#tiles > li div.coverage:hover {
    text-decoration: unset;
}

ul#tiles > li div.coverage:after {
    position: relative;
    top: -18px;
    left: -84px;
    color: black;
    font-size: 8pt;
    font-weight: bold;
}

ul#tiles > li div.coverage.statements {
    top: 24px;
}

ul#tiles > li div.coverage.statements:after {
    content: "statements";
}

ul#tiles > li div.coverage.functions {
    top: 88px;
}

ul#tiles > li div.coverage.functions:after {
    content: "functions";
}

ul#tiles > li div.coverage.branches {
    top: 56px;
}

ul#tiles > li div.coverage.branches:after {
    content: "branches";
}

/*endregion*/

/*region Tests tile */

ul#tiles > li#tests {
    background: url(/res/hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#tests span.version {
    display: inline-block;
    width: 55%;
}

ul#tiles > li#tests span.mocha {
    font-size: smaller;
    font-style: italic;
}

ul#tiles > li#tests span.misc {
    font-size: smaller;
}

/*endregion*/

/*region Hosts tile */

ul#tiles > li#hosts {
    background: url(/res/hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#hosts div.dynamic {
    top: 16px;
}

ul#tiles > li#hosts select {
    background: unset;
    border: unset;
}

ul#tiles > li#hosts ul#hostsNames {
    padding: 8px 0 0 0;
    margin: 0;
}

ul#tiles > li#hosts ul#hostsNames > li {
    display: inline-block;
    font-size: unset;
    padding-left: 4px;
}

ul#tiles > li#hosts div.envDetect {
    top: 100px;
}

/*endregion*/

/*region Documentation tile */

ul#tiles > li#doc {
    background: url(/res/hawcons/book.png) 80px 80px no-repeat beige;
}

ul#tiles > li#doc div.version{
    top: 32px;
    font-size: 16pt;
}

ul#tiles > li#doc div.public{
    top: 56px;
    font-size: 8pt;
}

/*endregion*/

/*region GitHub tile */

ul#tiles > li#github {
    background: url(/res/hawcons/tags.png) 80px 80px no-repeat beige;
}

ul#tiles > li#github div.status {
    top: 8px;
    left: 112px;
    width: 16px;
    height: 16px;
    border-radius: 16px;
    background-color: white;
    border: solid 2px white;
    background-color: gray;
    z-index: 2;
}

ul#tiles > li#github div.error {
    background-color: red;
}

ul#tiles > li#github div.connected {
    background-color: green;
}

ul#tiles > li#github div.static {
    z-index: 1;
}

ul#tiles > li#github div.release {
    font-size: 11pt;
    top: 34px;
    text-align: right;
}

ul#tiles > li#github div.progress {
    font-size: 11pt;
    top: 50px;
    text-align: right;
}

/*endregion*/

/*region Charts*/

.charts {
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 640px;
    height: 400px;
    z-index: 3;
    background-color: white;
    border: solid 1px gray;
    border-radius: 8px;
    box-shadow: 4px 4px lightgray;
}

/*endregion*/
