.hide {
    display: none;
}

.internal {
    display: inline-block;
    background-color: orange;
    color: white;
    padding: 2px 4px 2px 4px;
    margin-right: 4px;
    border-radius: 4px;
}

ul.items {
    margin: 0;
}

ul.items span {
    font-weight: bold;
    margin-right: 4px;
}

.clickable {
    cursor: pointer;
}

.dependencies {
    display: inline-block;
    background-color: indianred;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
}

.references {
    display: inline-block;
    background-color: darkgreen;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
}

tr[exists] {
}

tr[obsolete] {
    background-color: #FFDDDD;;
}

tr[new] {
    background-color: #DDFFDD;
}

tr:hover {
    background-color: silver;
}

tr.dragged {
    opacity: .5;
}

tr.drag-ok {
}

tr.no-drag {
    background-color: orange;
    opacity: .2;
}

tr.drag-ok.over {
    background-color: yellowgreen;
}
