body {
    font-size: 10pt;
}

table {
    display: table;
    border-collapse: separate;
    border-color: blue;
    border: 0;
}

thead {
    position: sticky;
}

tr {
    border: 0;
    border-top: solid 1px black;
}

tr:nth-child(even) {
    background: #F0F0F0
}

.hide {
    display: none;
}

.clickable {
    cursor: pointer;
}

.dependencies {
    display: inline-block;
    background-color: indianred;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
}

.references {
    display: inline-block;
    background-color: darkgreen;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
}

tr[exists] {
}

tr[obsolete] {
    background-color: #FFDDDD;;
}

tr[new] {
    background-color: #DDFFDD;
}

tr:hover {
    background-color: silver;
}

tr.dragged {
    opacity: .5;
}

tr.drag-ok {
}

tr.no-drag {
    background-color: orange;
    opacity: .2;
}

tr.drag-ok.over {
    background-color: yellowgreen;
}

div#dependencyWheel {
    position: absolute;
    width: 800px;
    height: 800px;
    top: 8px;
    left: 600px;
}
