{
    "rules": {
        "http://eslint.org/docs/rules/#possible-errors": 0,
        "comma-dangle":                 [2, "never"],
        "no-cond-assign":               2,
        "no-console":                   0,                                     "no-console: part of the exposed API": 0,
        "no-constant-condition":        2,
        "no-control-regex":             2,
        "no-debugger":                  2,
        "no-dupe-args":                 2,
        "no-dupe-keys":                 2,
        "no-empty-character-class":     2,
        "no-empty":                     2,
        "no-ex-assign":                 2,
        "no-extra-boolean-cast":        2,
        "no-extra-parens":              2,
        "no-extra-semi":                2,
        "no-func-assign":               2,
        "no-inner-declarations":        2,
        "no-invalid-regexp":            2,
        "no-irregular-whitespace":      2,
        "no-negated-in-lhs":            2,
        "no-obj-calls":                 2,
        "no-regex-spaces":              2,
        "no-sparse-arrays":             2,
        "no-unexpected-multiline":      2,
        "no-unreachable":               2,
        "use-isnan":                    2,
        "valid-jsdoc":                  0,                                "valid-jsdoc: not eveything is documented": 0,
        "valid-typeof":                 2,

        "http://eslint.org/docs/rules/#best-practices": 0,
        "accessor-pairs":               2,
        "block-scoped-var":             2,
        "complexity":                   [2, 6],
        "consistent-return":            0,           "consistent-return: the API commonly handles undefined returns": 0,
        "curly":                        [2, "all"],
        "default-case":                 2,
        "dot-location":                 [2, "property"],
        "dot-notation":                 [2, {"allowKeywords": false}],
        "eqeqeq":                       2,
        "guard-for-in":                 2,
        "no-alert":                     2,
        "no-caller":                    2,
        "no-div-regex":                 2,
        "no-else-return":               2,
        "no-empty-label":               2,
        "no-eq-null":                   2,
        "no-eval":                      2,
        "no-extend-native":             0,                             "no-extend-native: GPF-JS provides polyfills": 0,
        "no-extra-bind":                2,
        "no-fallthrough":               2,
        "no-floating-decimal":          2,
        "no-implicit-coercion":         2,


        "no-with":                      2,
        "comma-style":                  [2, "last"],
        "camelcase":                    2,
        "comma-style":                  [2, "last"],
        "indent":                       [2, 4],
        "linebreak-style":              [2, "windows"],
        "max-depth":                    [2, 4],
        "max-len":                      [2, 120],
        "max-params":                   [2, 3],
        "max-statements":               [2, 15],
        "new-cap":                      2,
        "no-bitwise":                   0,
        "no-invalid-this":              2,
        "no-iterator":                  0,
        "no-loop-func":                 2,
        "no-multi-str":                 0,
        "no-new":                       2,
        "no-new-func":                  2,
        "no-new-wrappers":              2,
        "no-plusplus":                  0,
        "no-proto":                     0,
        "no-script-url":                0,
        "no-shadow":                    2,
        "no-undef":                     2,
        "no-unused-expressions":        0,
        "no-unused-vars":               [2, {"vars": "all", "args": "after-used"}],
        "no-use-before-define":         2,
        "quotes":                       [2, "double"],
        "semi":                         [2, "always"],
        "strict":                       0,
        "wrap-iife":                    [ 2, "any" ],

        "Custom rules": 0,
        "no-switch":                    2,
        "no-conditional":               2
    },
    "globals": {
        "gpf":                          false,
        "gpfSourcesPath":               true,
        "console":                      true,
        "setTimeout":                   true
    },
    "extends": "eslint:recommended"
}
