############
## Windows
############

# Windows image file caches
Thumbs.db

# Folder config file
Desktop.ini

#############
## WebStorm
#############

.idea

#############
## Make
#############

make/node_modules/*
make/tmp/*
make/build/*
