# Windows specifics
Thumbs.db
Desktop.ini

# Git override

.gitconfig

# Temporary folder

tmp

# Project files & folders

.eslintrules
build/dependencies.json
build/report.history.*
build/tests.js
build/gpf-release.js
build/gpf-flavor-*.js
doc
grunt
make
res
src
test
.editorconfig
.eslintrc
.htmllintrc
.jshintrc
gruntfile.js
index.html
logo/wip.html

# Editors

.idea

# Temporary files

debug.log
