body {
    font-size: 8pt;
    font-family: Verdana, Courrier, Sans Serif;
    color: black;
}

body:after {
    content: "GPF-JS";
    position: absolute;
    bottom: 0px;
    right: 0px;
    font-size: 172pt;
    color: antiquewhite;
    z-index: -1;
}

/* Default table formatting */

table {
    display: table;
    border-collapse: separate;
    width: 50%;
}

thead {
    position: sticky;
    background-color: black;
    color: white;
    font-size: larger;
}

th {
    text-align: left;
    height: 32px;
}

tbody tr:nth-child(even) {
    background: rgba(240,240,240,.5)
}

tbody tr:hover {
    background-color: silver;
}

/* Button */

button {
    background-color: #FFFFFF;
    border-radius: 4px;
    border: #F0F0F0 1px solid;
    box-shadow: 2px 2px #C0C0C0;
}

button:focus {
    outline: 0;
    border: #000000 1px dashed;
}

/*http://stackoverflow.com/questions/826782/how-to-disable-text-selection-highlighting-using-css*/
.noselect {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}
