.internal {
    display: inline-block;
    background-color: orange;
    color: white;
    padding-left: 4px;
    padding-right: 4px;
    padding-top: 2px;
    padding-bottom: 2px;
    margin-right: 4px;
    border-radius: 4px;
}

ul.items {
    margin: 0;
}

ul.items span {
    font-weight: bold;
    margin-right: 4px;
}

.dependencies {
    display: inline-block;
    background-color: indianred;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
    cursor: pointer;
}

.references {
    display: inline-block;
    background-color: darkgreen;
    font-weight: bold;
    font-size: 6px;
    color: white;
    padding-top: 4px;
    text-align: center;
    border-radius: 8px;
    width: 16px;
    height: 12px;
    cursor: pointer;
}

tr:hover {
    background-color: silver;
}

tr.dragged {
    background-color: aquamarine;
    opacity: .5;
}

tr.drag-ok {
    background-color: yellowgreen;
}

tr.no-drag {
    background-color: orange;
}

tr.drag-ok.over {
    background-color: darkgreen;
}
