ul#tiles > li {
    position: relative;
    background-color: beige;
    display: inline-block;
    margin: 16px;
    padding: 4px;
    width: 128px;
    height: 128px;
    border: solid 1px gray;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px lightgray;
}

ul#tiles > li div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
}

ul#tiles > li div.title {
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: solid 1px gray;
}

ul#tiles > li div.percentage {
    top: 16px;
    font-size: 32pt;
}

ul#tiles > li div.coverage {
    font-size: 16pt;
}

ul#tiles > li div.coverage:after {
    position: relative;
    top: -18px;
    left: -84px;
    color: black;
    font-size: 8pt;
    font-weight: bold;
}

ul#tiles > li div.coverage.statements {
    top: 24px;
}

ul#tiles > li div.coverage.statements:after {
    content: "statements";
}

ul#tiles > li div.coverage.functions {
    top: 88px;
}

ul#tiles > li div.coverage.functions:after {
    content: "functions";
}

ul#tiles > li div.coverage.branches {
    top: 56px;
}

ul#tiles > li div.coverage.branches:after {
    content: "branches";
}

ul#tiles > li div.ok {
    color: green;
}

ul#tiles > li div.ko {
    color: red;
}

li[link] {
    cursor: pointer;
}

ul#tiles > li > ul {
    position: absolute;
    padding-left: 4px;
    top: 16px;
    left: 0;
    text-align: left;
}

ul#tiles > li > ul > li {
    display: block;
    font-size: 11pt;
}

ul#tiles > li span[link]:hover {
    text-decoration: underline;
}

ul#tiles > li div.exec {
    position: absolute;
    top: 80px;
    left: 4px;
    width: 48px;
    height: 48px;
    background: url(hawcons/lightning.png) 0 0 no-repeat;
}

ul#tiles > li#sources {
    background: url(hawcons/documents.png) 80px 80px no-repeat beige;
}

ul#tiles > li#plato {
    background: url(hawcons/document-scan.png) 80px 80px no-repeat beige;
}

ul#tiles > li#tests {
    background: url(hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#tests span.version {
    display: inline-block;
    width: 55%;
}

ul#tiles > li#tests span.mocha {
    font-size: smaller;
    font-style: italic;
}

ul#tiles > li#mocha {
    background: url(hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#coverage {
    background: url(hawcons/search.png) 80px 80px no-repeat beige;
}

ul#tiles > li#tpl {
    background: url(hawcons/package.png) 80px 80px no-repeat beige;
}

ul#tiles > li#doc {
    background: url(hawcons/book.png) 80px 80px no-repeat beige;
}
