/*region Tiles generic formatting */
ul#tiles > li {
    position: relative;
    background-color: beige;
    display: inline-block;
    margin: 16px;
    padding: 4px;
    width: 128px;
    height: 128px;
    border: solid 1px gray;
    text-align: center;
    border-radius: 8px;
    box-shadow: 4px 4px lightgray;
}

ul#tiles > li div.title {
    top: 0px;
    font-size: 8pt;
    font-weight: bold;
    color: white;
    background-color: black;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    border-bottom: solid 1px gray;
}

ul#tiles > li div {
    position: absolute;
    top: 16px;
    left: 0;
    width: 100%;
}

[link] {
    cursor: pointer;
}

[link]:hover {
    text-decoration: underline;
}

ul#tiles > li div.percentage {
    font-size: 32pt;
}

ul#tiles > li div.percentage:hover {
    text-decoration: unset;
}

ul#tiles > li div.ok {
    color: green;
}

ul#tiles > li div.ko {
    color: red;
}

ul#tiles > li > ul {
    position: absolute;
    padding-left: 4px;
    top: 16px;
    left: 0;
    text-align: left;
}

ul#tiles > li > ul > li {
    display: block;
    font-size: 11pt;
}

ul#tiles > li div.exec {
    position: absolute;
    top: 88px;
    left: 12px;
    width: 32px;
    height: 32px;
    border-radius: 4px;
    border: white 1px solid;
    box-shadow: 2px 2px gray;
    background: url(hawcons/lightning.png) -8px -8px no-repeat;
}

/*endregion*/

/*region Source tile */

ul#tiles > li#sources {
    background: url(hawcons/documents.png) 80px 80px no-repeat beige;
}

/*endregion*/

/*region Plato tile */

ul#tiles > li#plato {
    background: url(hawcons/document-scan.png) 80px 80px no-repeat beige;
}

/*endregion*/

/*region Coverage tile */

ul#tiles > li#coverage {
    background: url(hawcons/search.png) 80px 80px no-repeat beige;
}

ul#tiles > li div.coverage {
    font-size: 16pt;
    left: 4px;
}

ul#tiles > li div.coverage:hover {
    text-decoration: unset;
}

ul#tiles > li div.coverage:after {
    position: relative;
    top: -18px;
    left: -84px;
    color: black;
    font-size: 8pt;
    font-weight: bold;
}

ul#tiles > li div.coverage.statements {
    top: 24px;
}

ul#tiles > li div.coverage.statements:after {
    content: "statements";
}

ul#tiles > li div.coverage.functions {
    top: 88px;
}

ul#tiles > li div.coverage.functions:after {
    content: "functions";
}

ul#tiles > li div.coverage.branches {
    top: 56px;
}

ul#tiles > li div.coverage.branches:after {
    content: "branches";
}

/*endregion*/

/*region Tests tile */

ul#tiles > li#tests {
    background: url(hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#tests span.version {
    display: inline-block;
    width: 55%;
}

ul#tiles > li#tests span.mocha {
    font-size: smaller;
    font-style: italic;
}

/*endregion*/

/*region Environments tile */

ul#tiles > li#env {
    background: url(hawcons/thumb-up.png) 80px 80px no-repeat beige;
}

ul#tiles > li#env select {
    background: unset;
    border: unset;
}

ul#tiles > li#env ul#envNames {
    padding: 0;
    padding-top: 8px;
    margin: 0;
}

ul#tiles > li#env ul#envNames > li {
    display: inline-block;
}

ul#tiles > li#env ul#envNames > li:hover {
    font-size: larger;
}

ul#tiles > li#env div.envDetect {
    top: 100px;
}

/*endregion*/

/*region Documentation tile */

ul#tiles > li#doc {
    background: url(hawcons/book.png) 80px 80px no-repeat beige;
}

ul#tiles > li#doc div.version{
    top: 32px;
    font-size: 16pt;
}

/*endregion*/

/*region Miscellaneous tile */

ul#tiles > li#misc {
    background: url(hawcons/package.png) 80px 80px no-repeat beige;
}

/*endregion*/
