{
    "rules": {
        "no-sync": 0,
        "func-style": 0,
        "no-ternary": 0
    },
    "globals": {
        "configuration": false,
        "configFile": false
    },
    "env": {
        "node": true,
        "es6": true
    }
}
